/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

/* Common Style  */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top-banner {
    padding: 50px 100px;
}

.top-banner-inner {
    background-color: #161616;
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin: 50px 100px; */
    border-radius: 10px;
    align-items: end;

}

.contents {
    /* width: 50%; */
    /* padding: 110px 0 110px 70px; */
    margin: 0 50px;
    padding: 100px 0;

}

.thumbnail {
    /* width: 50%; */
    line-height: 0px;
    /* margin-right: 80px; */
    /* padding-right: 80px; */



}

.thumbnail img {
    /* float: right; */
    /* position: absolute; */
    width: 80%;
    height: auto;
    max-width: 100%;
    margin-top: 100px;

}


h2 {
    font-size: 60px;
    color: #FFFFFF;
    line-height: 1;
}

p {
    font-size: 16px;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

.button-watch-live {
    margin: 30px 0;

}

.button-watch-live a {
    background-color: #DD0000;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    display: inline-block;
}


.button-watch-live i {
    padding-left: 10px;
}

/*---------------------------------------
 Main Part 
 ----------------------------*/
.main-part {
    display: grid;
    grid-template-columns: 200px auto;
    padding: 50px 100px;
}

.aside {
    background-color: #161616;
    align-self: start;
    border-radius: 5px;
    padding: 20px 20px 10px 20px;
    margin-right: 20px;



}

.aside-inner {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    /* padding: 20px; */
}

/* .aside-inner button {
    margin-bottom: 20px;
} */

.aside-inner a {
    color: #161616;
    background-color: #FFFFFF;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
}

.aside-inner :last-child {
    background-color: #DD0000;
}


.blog-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 16px 16px;
}

.blog img {
    width: 100%;
}

.blog-inner {
    padding: 15px;
}

.transfer {
    border: 2px solid black;
    width: 67px;
    height: 24px;
    border-radius: 5px;
}

.fa-regular span {
    margin-left: 10px;
}

.fa-clock span {
    margin-right: 50px;
    margin-left: 10px;
}

.view-all a {
    visibility: hidden;
    border: 2px solid black;
    background-color: #DD0000;
    color: white;
    border: 10px;
    border-radius: 5px;
    padding: 10px 20px;

}

/*------------------------------
 FOOTER
 -------------------------------- */
footer {
    background-color: black;
    padding: 60px 0;

}

footer h3 {
    color: white;
    text-align: center;
    font-size: 40px;
}

footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;


}

.footer-links {
    text-align: center;
    padding: 30px;

}

.footer-links a {
    color: #B9B9B9;
    padding: 20px;
    font-size: 16px;

}

.footer-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
}

.fa-brands {
    margin: 0 20px;
    font-size: 40px;
    /* background-color: white; */
}

/* MEDIA QUERY */
/* Tablet Device */
@media only screen and (min-width: 669px) and (max-width: 992px) {

    .top-banner {
        padding: 30px 60px;
    }

    .top-banner-inner {
        /* grid-template-columns: 40% 60%; */
        padding: 0;
        margin: 0;

    }

    .contents {
        padding: 0;
        margin: 0 0 0 30px;
    }


    /* .contents {
        padding: 100px 0 20px 0;
    } */

    h2 {
        font-size: 40px;
    }

    p {
        font-size: 12px;
    }

    .thumbnail {
        padding: 0;
    }

    .thumbnail img {
        width: 90%;
        margin: 0;
    }

    .main-part {
        display: flex;
        flex-direction: column;
        padding: 30px 60px;
    }

    .aside {
        background-color: white;
        padding: 0;
        width: 100%;
    }

    .aside-inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

    .aside-inner a {
        border: 2px solid #E8E8E8;
        margin: 0 0 10px 0;
        padding: 5px 0;
    }

    .aside-inner :first-child {
        margin-right: 20px;
    }

    .aside-inner :last-child {
        margin-left: 20px;
    }

    .blog-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog:last-child {
        display: none;
    }

    .view-all {
        text-align: center;
    }

    .view-all a {
        visibility: visible;
        display: inline-block;


    }
}

/* Mobile Device */
@media only screen and (max-width: 668px) {
    .top-banner {
        padding: 20px 40px;
    }

    .top-banner-inner {
        grid-template-columns: repeat(1, 1fr);
        border-radius: 10px;

    }

    .contents {
        margin: 0;
        padding: 10px 20px;
    }

    .top-banner {
        padding: 20px 40px;
    }

    h2 {
        font-size: 25px;
        text-align: center;
    }

    p {
        font-size: 10px;
        text-align: center;
    }

    .button-watch-live {
        margin-top: 20px;
        text-align: center;
    }

    /* .thumbnail {
        padding: 20px 20px 0 40px;
    } */

    .thumbnail img {
        margin: 0;
        width: 100%;
    }

    .main-part {
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
    }

    .aside {
        background-color: white;
        padding: 0;
        margin: 0 auto;


    }

    .aside-inner {
        display: grid;
        grid-template-rows: repeat(3, 1fr);

    }

    .aside-inner a {
        border: 2px solid #E8E8E8;
        margin: 0 0 10px 0;
        padding: 5px 0;

    }

    .blog-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-links {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}

/* ------------------------------------------------------------------------------
Upcomming Match Page
--------------------------------------------------------------------------------*/